/* Add this to your CSS file */
html,
body,
#root {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrollbar due to exact 100vw width */
}

.outside {
  background-color: #f9fffc;
}
